* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.form-container {
	margin : 100px auto 0px auto;
	height: auto;
	width: 700px;
	padding: 48px;

	background-color: #FFFFFF;
	border: 1px solid #E0E0E0;
	border-radius: 5px;
	text-align: center;
}
h1 { 
	margin: 0;
	margin-bottom:20px;
}

input::-webkit-input-placeholder {
	font-size: 14px;
	line-height: 1;
}
input:-moz-placeholder {
	font-size: 14px;  
	line-height: 1;
}
input::-moz-placeholder {
	font-size: 14px;
	line-height: 1;
}
input:-ms-input-placeholder {  
	font-size: 14px;
	line-height: 1;
}

.form-container form input[type="text"], 
.form-container form input[type="email"], 
.form-container form input[type="password"] {
	float: left;
	height: 48px;
	width: 100%;
	padding: 4px 12px;
	margin: 4px auto;
	border-radius: 5px;
	border: 1px solid #E8E8E8;

	font-size: 14px;
}

.form-container form button[type="submit"] {
	height: 48px;
	width: 50%;
	margin: 24px auto 0px auto;
	border-radius: 5px;
	border: 1px solid #2e6da4;
	background-color: #337ab7;
	color: #FFFFFF;
	font-size: 14px;
}

.form-container form input.half-input-width {
	width: 49.5%;
}
.form-container form input.half-input-width:first-child {
	margin-right: 1%;
}

.form-container form input.hasError {
	border-color: #d9534f;
}
.form-container form input.correctInput {
	border-color: #5cb85c;
}

.alertBox {
	display: none;
	margin: 12px auto;
	padding: 20px;
	text-align: center;
	border-radius: 5px;
	color: #FFFFFF;
}
#errorMessageBox{
	background-color: #d9534f;
	border: 1px solid #d43f3a;	
}
#successMessageBox{
	background-color: #5cb85c;
	border: 1px solid #4cae4c;	
}